*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 100%;
}

nav{
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 30px auto;
}

/* mediaQueries */
@media (max-width:768px){
    
    html{
        font-size: 90%;
    }
    
    nav{
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: 30px auto;
    }
        
}

@media (max-width:425px){
    
    html{
        font-size: 75%;
    }
    
    nav{
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: 30px auto;
    }
        
}

@media (max-width:375px){
    
    html{
        font-size: 65%;
    }
    
    nav{
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: 30px auto;
    }
        
}

@media (max-width:320px){
    
    html{
        font-size: 58%;
    }
    
    nav{
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: 10px auto;
    }
        
}