*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
}

.form-outline{
    align-items: center;
}

nav{
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 10px auto;
}

#modal{
    background-color: white;
    position: fixed;
    width: 35vw;
    height: 8vh;
    bottom: 15px;
    left: 35%;
    margin: 0 auto;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: -2px 7px 19px 3px rgba(0,0,0,0.61); 
    box-shadow: -2px 7px 19px 3px rgba(0,0,0,0.61);
    display: block;
}

.teste2{
    padding: 1rem;
    text-align: center;
    margin: 0 auto;

}

.teste2 button span{
    color: #007bff;
    cursor: pointer;
    display: block;
    font-size: 2rem;
}

.teste2  span{
    font-size: 1.15rem;
}

footer{
    width: 100%;
}

.svgIcon{
    bottom: 2rem;
    position: fixed;
    right: 1rem;
    transform: rotate(90deg); 
    cursor: pointer;

}

svg{
    width: 5vw;
    height: 5vh;    
    fill: #1266f1;

}

svg:hover{
    width: 5vw;
    height: 5vh;    
    fill: #5e95ee;
}

table{
    table-layout:fixed;
    text-align: left;
}

.describe1{
    width: 24.5vw;
    min-width: 24.5vw;
    max-width: 24.5vw;
}

.describe2{
    width: 24.1vw;
    min-width: 24.1vw;
}

.describe3{
    width: 24vw;
    min-width: 24vw;
}

.describe4{
    width: 20vw;
    min-width: 20vw;
    max-width: 20vw;
    font-size: 0.85rem;
}

/* mediaQueries */
@media (max-width:1024px){
    #modal{
        width: 50vw;
        height: 8vh;
        bottom: 15px;
        left: 25%;
    }
}
@media (max-width:768px){
    
    html{
        font-size: 90%;
    }
    
    nav{
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: 30px auto;
    }

    #modal{
        position: fixed;
        width: 50vw;
        height: 8vh;
    }
        
}

@media (max-width:425px){
    
    html{
        font-size: 75%;
    }
    
    nav{
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: 30px auto;
    }
    
    .describe4, .describe{
        display: none;
    }

    #modal{

        display: none;
    }
}

@media (max-width:375px){
    
    html{
        font-size: 65%;
    }
    
    nav{
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: 30px auto;
    }
        
}

@media (max-width:320px){
    
    html{
        font-size: 58%;
    }
    
    nav{
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: 10px auto;
    }
        
}
